$font-family-sans-serif: 'Fira Code', Arial, Helvetica, sans-serif;
$modal-content-color: #333;
$primary: #7419cf;

@import "bootstrap/scss/bootstrap";

h1, h2, h3, h4, h5, h6 {
    font-family: 'Sixtyfour', sans-serif;
}

body {
    background: rgb(255, 251, 244);
}

.top-header {
    background: linear-gradient(45deg, darken($primary, 20%), darken($primary, 30%));
    border-bottom: 1px solid #e9ecef;
    color: white;
}