$font-family-sans-serif: 'Nunito', Arial, Helvetica, sans-serif;
$modal-content-color: #333;

@import "bootstrap/scss/bootstrap";

h1, h2, h3, h4, h5, h6 {
    font-family: 'Vast Shadow', sans-serif;
}